<link rel="stylesheet" href="/stylesheets/style.css">
<div class="profile-user">
  
{{!-- <h2>Iron Kicks user profile</h2> --}}
{{#if user}}

<div class="heading-profile">
  <h1>Welcome back, <b><i> {{user.email}} </b></i> </h1>
</div>




{{!-- <div id="all-sneakers-box-profile">
    <form class="search-sneakers-box-profile" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />
      <button class="search-btn" type='submit'><span>Search for Sneakers</button></span>
    </form>
</div> --}}


{{else}}

  
  <p><b>You need to be logged in</p></b>

{{/if}}




</div>

<div class="search-pg">
<ul class="container-profile">
  {{#each user.favourite}}
  <div class="box-profile">
    <img src="{{image}}" alt="sneaker image">

    

          <p>{{name}} </p>
          <span><b>Retail price: €{{price}}</span></b>
      <form action="/profile/delete/sneakers/{{_id}}" method="post">
        <button type="submit">
          <img class="addButton-profile" src="/images/removeButton.png" alt="remove button"/>
        </button> 
      </form>
  </div>
  {{/each}}
</ul>
</div>