<h1>Sneaker Details</h2>
<div id="all-sneakers-box">
    <form class="search-sneakers-box" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />
      <button class="search-btn" type='submit'><span>Search for Sneakers</button></span>
</form>

<ul class="container">
  <div class="shoe-box">
    <img src="{{products.thumbnail}}" alt="sneaker image">
    <img src="{{products.imageLinks}}" alt="image2">
       <p><h2>{{products.shoeName}}</h2></p>
       <p><b>Color</b>: {{products.colorway}}</p>
       <p><b>Release Date</b>: {{products.releaseDate}}</p>
       <p>{{products.description}}</p>
      <ul class="resell-txt">

      <b>Check below where you can get these</b>:
      <li>Check the price on <a href="{{products.resellLinks.stockX}}" target="_blank" >StockX</a></li>
      <li>Check the price on <a href="{{products.resellLinks.goat}}" target="_blank" >Goat</a></li>
      <li>Check the price on <a href="{{products.resellLinks.flightClub}}" target="_blank" >flightClub</a></li>
    </ul>
    </div>
  
</ul>


