<link rel="stylesheet" href="/stylesheets/style.css">
<h1>Your Search</h1>
<div id="all-sneakers-box">
    <form class="search-sneakers-box" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />
      <button class="search-btn" type='submit'><span>Search for Sneakers</button></span>
    </form>

<div class="search-pg">
  <div class="container">
  {{#each products}}
  <div class="box">
      <img src="{{thumbnail}}" alt="">
      <p>{{shoeName}}</p>
      

<form action="/profile" method="post"> <input type="text" value="{{this.shoeName}}" name="name" hidden> 
<input type="number" value="{{this.retailPrice}}" name="price" hidden>
<input type="text" value="{{this.thumbnail}}" name="image" hidden>
<button type="submit"> <img class="addButton" src="/images/addButton.png"> </button> </form> 




    </div>
  {{/each}}
  </div>
</div> 