<h2 class="sneaker-dt">Sneaker details</h2>



<ul>
  
    <div>
    <img src="{{products.thumbnail}}" alt="sneaker image">
    <img src="{{products.imageLinks}}" alt="">
       <p><h2>{{products.shoeName}}</h2></p>
       <p>Color: {{products.colorway}}</p>
       <p>Release Date: {{products.releaseDate}}</p>
       <p>{{products.description}}</p>
      
      Resell Links:
      <li>Check the price on <a href="{{products.resellLinks.stockX}}" target="_blank" >StockX</a></li>
      <li>Check the price on <a href="{{products.resellLinks.goat}}" target="_blank" >Goat</a></li>
      <li>Check the price on <a href="{{products.resellLinks.flightClub}}" target="_blank" >flightClub</a></li>
    </div>
  
</ul>
