<link rel="stylesheet" href="/stylesheets/style.css">
<h1>sneakers</h1>


<ul class="container">
  {{#each products}}
    <div class="box">
     <img src="{{thumbnail}}" alt="">
      {{!-- <div class="box"> --}}
       <p>{{shoeName}}</p>
      {{!-- </div> --}}
      <li><a href="{{resellLinks.stockX}}">StockX</a></li>
      <li><a href="{{resellLinks.goat}}">Goat</a></li>
      <li><a href="{{resellLinks.flightClub}}">flightClub</a></li>
    </div>
  {{/each}}
</ul>
