<h1>Sneaker Details</h2>
<div id="all-sneakers-box">
    <form class="search-sneakers-box" action='/sneakers-search' method='get'>
      <label for='sneakerName'></label>
      <input type='text' name='sneakerName' id='sneakerName' />
      <button class="search-btn" type='submit'><span>Search for Sneakers</button></span>
</form>

<div class="container">
  <div class="shoe-box">
    <div class="sneaker-img-details">
      <img src="{{products.thumbnail}}" alt="sneaker image">

<form action="/profile" method="post"> <input type="text" value="{{this.shoeName}}" name="name" hidden> 
  <input type="number" value="{{this.retailPrice}}" name="price" hidden>
  <input type="text" value="{{this.thumbnail}}" name="image" hidden>
  <button type="submit"><img class="addButton" src="/images/addButton.png" alt="add button"> </button>
</form> 


    </div>
    <div class="shoe-name-details">
      <p>{{products.shoeName}}</p>




    </div> 
    {{!-- <img src="{{products.imageLinks}}" alt="image2"> --}}
    <div class="decription-txt">
        <p><b>Color</b>: {{products.colorway}}</p>
        <p><b>Release Date</b>: {{products.releaseDate}}</p>
        <p><b>{{products.description}}</b></p>
    </div>
    <div>
      <ul class="resell-txt">
        <p><b>Check below where you can get these: </b></p>
        <li><b>Here:</b> <a href="{{products.resellLinks.stockX}}" target="_blank" >StockX</a></li>
        <br> 
        <li><b>Here:</b> <a href="{{products.resellLinks.goat}}" target="_blank" >Goat</a></li>
        <br>
        <li><b>Here:</b> <a href="{{products.resellLinks.flightClub}}" target="_blank" >flightClub</a></li>
      </ul>
    </div>
  </div>
</div>


